body{
    background-color: #000000;
    margin-top: 120px;
}
input:focus, textarea:focus, button:focus{
    outline: none;
}

/* Modal */

.errors{
	width: -webkit-fill-available;
    height: -webkit-fill-available;
    text-align: center;
}
.errors p{
	margin: 0;
}
.btn-new{
    background-color: #94420b;
    color: #ffffff;
}
.btn-new:hover{
    background-color: #bd540f;
    cursor: pointer;
    color: #ffffff;
}
.modal-title{
    margin: auto auto;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 2px;
}
.modal-header button{
    font-size: 35px;
}
.modal-body label{
    font-size: 18px;
    font-weight: 500;
    margin-right: 1rem;
}
.modal-body textarea{
    width: -webkit-fill-available;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}
.modal-body input{
    padding: 2px 5px;
    margin: 5px auto;
}
.modal-footer input{
    padding-left: 25px;
    padding-right: 25px;
    background-color: #94420b;
    color: #ffffff;
} 
.modal-footer input:hover{
    background-color: #bd540f;
    color: #ffffff;
}

/* BODY */

.works{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    margin-bottom: 40px;
}
.card-title{
    font-weight: 700;
    font-size: 30px;
}
.card-text{
    font-size: 18px;
}
.card hr{
    border-top: 1px solid rgb(0, 0, 0, 0.5);
}