<!-- <h1>Add a new work page coming soon</h1> -->

<form action="/works" method="POST">
    <label for="name">Name of the Project: </label>
    <input type="text" name="name">

    <label for="image">Image</label>
    <input type="text" name="image">

    <label for="worker">Number of workers required</label>
    <input type="number" name="worker">

    <label for="hour">Working hours</label>
    <input type="number" name="hour">

    <label for="wage">Wages</label>
    <input type="text" name="wage">

    <label for="address">Address</label>
    <input type="text" name="address">

    <button>Submit</button>
</form>